body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: white;
}

.navbar {
    background-color: white;
}

.resultsBox {
    background-color: white;
    overflow: scroll;
    color: black;
}

#results {
    background-color: white;
}
#results p {
    margin-bottom: 0;
}

#startTime {
    margin-left: 3rem;
}

#form {
    background-color: black;
    border: transparent 3px white;
    border-radius: 10px;
}

.field {
    color: aqua;
}
/* postdetail */

#campaignImg {
    height: 30vmin;
}

.commentText {
    color: aqua;
}

.hide {
    display: none;
}
