.container1 {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: white;
}

.navbar {
    background-color: white;
}

.resultsBox {
    background-color: white;
}

#results {
    background-color: white;
    color: black;
}
#results p {
    margin-bottom: 0;
}



#form {
    background-color: black;
    border: transparent 3px white;
    border-radius: 10px;
}

.hide {
    display: none;
}