body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: white;
    position: relative;
}

.tavernBackground {
    background-image: url('/assets/tavern.jpg');
    background-position: center;
    background-size: cover;
}

.navbar {
    background-color: white;
}

.resultsBox {
    background-color: white;
    overflow: scroll;
    color: black;
}

#results {
    background-color: white;
}
#results p {
    margin-bottom: 0;
}

#startTime {
    margin-left: 3rem;
}

#form {
    background-color: black;
    border: transparent 3px white;
    border-radius: 10px;
}
#message {
    color: red;
}

.field {
    color: aqua;
}
/* postdetail */

#campaignImg {
    height: 30vmin;
}

.commentText {
    color: aqua;
}

#search, #createPost {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
}

#createPost {
    top: 42%;
}

.entryLink {
    text-decoration: none;
    color: white;
}

#avatar {
    height: 50vmin;
    border-radius: 50%;
}

.modal {
    color: black;
}

.hide {
    display: none;
}
