<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet">
    <script defer src="/scripts/user.js"></script>
    <title>User</title>
</head>
<body class="d-flex flex-column">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="#" class="navbar-brand">TavernFinder</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="/views/user.html" class="nav-link">Make a Post</a></li>
                    <li class="nav-item"><a href="/views/search.html" class="nav-link">Search</a></li>
                    <li class="nav-item"><a href="/views/user.html" class="nav-link">User</a></li>
                    <li class="nav-item"><a href="/views/signup.html" class="nav-link">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="m-3" src="/assets/plainavatar.jpg" alt="avatar image" id="avatar">
            </div>
            <div class="col">
                <h3 id="usernameTitle"></h3>
            </div>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  DM GAMES
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body" id="postList"></div>
              </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        PLAYER GAMES
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        These are games in which you are a player.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    BOOKMARKS
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Bookmark games your interested in for later.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center mt-3">
                <button class="btn btn-secondary" id="createPostBtn" data-bs-toggle="modal" data-bs-target="#createPostModal">Start a Game</button>
            </div>
            <div class="modal" id="createPostModal" tabindex="-1" aria-labelledby="postModalTitle" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="postModalTitle">Create a Game Post</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="p-1" id="createForm" method="post">
                                <div class="mb-1 mt-1 row">
                                    <label for="campaignName" class="form-label col-4 text-end">Campaign Name</label>
                                    <input type="text" name="campaignName" class="formElement form-control w-50" id="campaignName" placeholder="Curse of Maude" value="">
                                </div>
                                <div class="mb-1 mt-1 row">
                                    <label for="location" class="form-label col-4 text-end">Zipcode</label>
                                    <input type="text" name="location" class="formElement form-control w-50" id="zipcode" placeholder="90210">
                                </div>
                                <div class="form-group d-flex mb-2 py-1">
                                    <label for="timeOfDay" class="form-label" value="07:00AM">Starting at</label>
                                    <input type="time" id="startTime" name="timeOfDay" class="formElement">
                                </div>
                                <div class="form-group my-2 py-1">
                                    <label for="daysOfWk" class="form-label">Days of Week</label>
                                    <div class="" id="daysOfWk">
                                        <div class="form-check form-check-inline">
                                            <input class="formElement form-check-input" name="daysOfWkOpts1" type="checkbox" id="inlineCheckboxM" value="Mon">
                                            <label class="form-check-label" for="inlineCheckbox1">Mon</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="formElement form-check-input" name="daysOfWkOpts2" type="checkbox" id="inlineCheckboxT" value="Tues">
                                            <label class="form-check-label" for="inlineCheckbox1">Tues</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="formElement form-check-input" name="daysOfWkOpts3" type="checkbox" id="inlineCheckboxW" value="Wed">
                                            <label class="form-check-label" for="inlineCheckbox1">Wed</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="formElement form-check-input" name="daysOfWkOpts4" type="checkbox" id="inlineCheckboxTh" value="Thurs">
                                            <label class="form-check-label" for="inlineCheckbox1">Thurs</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="formElement form-check-input" name="daysOfWkOpts5" type="checkbox" id="inlineCheckboxF" value="Fri">
                                            <label class="form-check-label" for="inlineCheckbox1">Fri</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="formElement form-check-input" name="daysOfWkOpts6" type="checkbox" id="inlineCheckboxSa" value="Sat">
                                            <label class="form-check-label" for="inlineCheckbox1">Sat</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="formElement form-check-input" name="daysOfWkOpts7" type="checkbox" id="inlineCheckboxSu" value="Sun">
                                            <label class="form-check-label" for="inlineCheckbox1">Sun</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group border-bottom my-1 py-1">
                                    <label for="expectedLength">Length of campaign:</label>
                                    <div class="form-check form-check-inline">
                                        <input class="formElement form-check-input" type="radio" name="expectedLength" id="expectedLength1" value="one-shot">
                                        <label class="form-check-label" for="expectedLength1">one-shot</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="formElement form-check-input" type="radio" name="expectedLength" id="expectedLength2" value="short campaign">
                                        <label class="form-check-label" for="expectedLength2">short campaign</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="formElement form-check-input" type="radio" name="expectedLength" id="expectedLength3" value="long campaign">
                                        <label class="form-check-label" for="expectedLength3">long campaign</label>
                                    </div>
                                </div>
                                <div class="form-group py-1 mb-2">
                                    <label for="description" class="form-label">Description</label>
                                    <textarea class="formElement form-control" name="description" id="description" placeholder="Give me the hook!"></textarea>
                                </div>
                                <div class="form-group my-1">
                                    <label for="totalSlots" class="form-label">Total number of Players</label>
                                    <input class="formElement" type="number" id="totalSlots" name="totalSlots">
                                </div>
                                <div class="form-group border-bottom my-1 py-1">
                                    <label for="offersSeshZero">Offers a 'session zero'?</label>
                                    <div class="form-check form-check-inline">
                                        <input class="formElement form-check-input" type="radio" name="offersSeshZero" id="offersSeshZero1" value="true">
                                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="formElement form-check-input" type="radio" name="offersSeshZero" id="offersSeshZero2" value="false">
                                        <label class="form-check-label" for="inlineRadio2">No</label>
                                    </div>
                                </div>
                                <div class="form-group my-1 py-1">
                                    <label for="roleplayHvy">How much roleplay?</label>
                                    <div class="form-check form-check-inline">
                                        <input class="formElement form-check-input" type="radio" name="roleplayHvy" id="roleplayHvy1" value="basically none">
                                        <label class="form-check-label" for="roleplayHvy1">basically none</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="formElement form-check-input" type="radio" name="roleplayHvy" id="roleplayHvy2" value="some">
                                        <label class="form-check-label" for="roleplayHvy2">some</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="formElement form-check-input" type="radio" name="roleplayHvy" id="roleplayHvy3" value="a lot">
                                        <label class="form-check-label" for="roleplayHvy3">a lot</label>
                                    </div>
                                </div>
                                <div class="form-group my-1 py-1">
                                    <label for="combatHvy">How much combat?</label>
                                    <div class="form-check form-check-inline">
                                        <input class="formElement form-check-input" type="radio" name="combatHvy" id="combatHvy1" value="basically none">
                                        <label class="form-check-label" for="combatHvy1">basically none</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="formElement form-check-input" type="radio" name="combatHvy" id="combatHvy2" value="some">
                                        <label class="form-check-label" for="combatHvy2">some</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="formElement form-check-input" type="radio" name="combatHvy" id="combatHvy3" value="a lot">
                                        <label class="form-check-label" for="combatHvy3">a lot</label>
                                    </div>
                                </div>
                                <div class="form-group my-1 py-1">
                                    <label for="roleplayHvy">How much exploration?</label>
                                    <div class="form-check form-check-inline">
                                        <input class="formElement form-check-input" type="radio" name="exploreHvy" id="exploreHvy1" value="basically none">
                                        <label class="form-check-label" for="exploreHvy1">basically none</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="formElement form-check-input" type="radio" name="exploreHvy" id="exploreHvy2" value="some">
                                        <label class="form-check-label" for="exploreHvy2">some</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="formElement form-check-input" type="radio" name="exploreHvy" id="exploreHvy3" value="a lot">
                                        <label class="form-check-label" for="exploreHvy3">a lot</label>
                                    </div>
                                </div>
                                <div class="form-group border-bottom my-1 py-1">
                                    <label for="maps&minis">Using combat maps and minis?</label>
                                    <div class="form-check form-check-inline">
                                        <input class="formElement form-check-input" type="radio" name="maps&minis" id="maps&minis1" value="Yes">
                                        <label class="form-check-label" for="maps&minis1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="formElement form-check-input" type="radio" name="maps&minis" id="maps&minis2" value="No">
                                        <label class="form-check-label" for="maps&minis2">No</label>
                                    </div>
                                </div>
                                <div class="form-group border-bottom my-1 py-1">
                                    <label for="abilityScores">Character creation - Ability Scores</label>
                                    <div class="form-check form-check-inline">
                                        <input class="formElement form-check-input" type="radio" name="abilityScores" id="abilityScores1" value="Yes">
                                        <label class="form-check-label" for="abilityScores1">Standard Array</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="formElement form-check-input" type="radio" name="abilityScores" id="abilityScores2" value="No">
                                        <label class="form-check-label" for="abilityScores2">Point Buy</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="formElement form-check-input" type="radio" name="abilityScores" id="abilityScores3" value="rolled">
                                        <label class="form-check-label" for="abilityScores3">Rolled</label>
                                    </div>
                                </div>
                                <div class="form-group border-bottom my-1 py-1">
                                    <label for="drinking">Is drinking allowed?</label>
                                    <div class="form-check form-check-inline">
                                        <input class="formElement form-check-input" type="radio" name="drinking" id="drinking1" value="Yes">
                                        <label class="form-check-label" for="drinking1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="formElement form-check-input" type="radio" name="drinking" id="drinking2" value="No">
                                        <label class="form-check-label" for="drinking2">No</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="saveSubmitBtn">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>